<div style="display: flex; flex-direction: column;">
    <!-- <a href="/admin/add-book">Add Book</a></li> -->
    <!-- <a href="/admin/view-books">View Books</a></li> -->
    <a href="/admin/viewData?start=0&end=10">View Data</a>
    <a href="/admin/pokeAPI">pokeAPI</a>
    <a href="/admin/fetchAll">Prove10 Dummy Data</a>
    <a href="/admin/socket">Sockets</a>
</div>

<h1> <%= pageTitle %> </h1>